
.container {
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 15px;
}

.btn {
    width: 75px;
    height: 25px;

    border: none;
    border-radius: 5px;

    color: #fff;
    background: lightsteelblue;
    text-align: center;

    cursor: pointer;
}

.pageLink {
    padding: 5px;
    margin: 0 10px;

    color: black;

    text-decoration: none;
}

.pageLink:hover {
    text-decoration: underline;
}
